- content_for :templates do
  %script#template_book_block{:type => "text/x-jquery-tmpl"}
    %table.book_block
      %tr
        %td
          %img.book_cover{:alt => "${isbn}", :src => "${image_url}", :title => "${title}"}

  %script#template_book_details{:type => "text/x-jquery-tmpl"}
    %table#book_details
      %tr
        %td.cell
          %img.book_cover{:alt => "${isbn}", :src => "${image_url}", :title => "${title}"}
        %td.cell.full
          %table.details
            %tr
              %td Title:
              %td.full ${title}
            %tr
              %td Authors:
              %td ${authors}
            %tr
              %td Published:
              %td ${published_on}
            %tr
              %td Pages:
              %td ${pages}
            %tr
              %td ISBN:
              %td ${isbn}
    %ul
      %li
        %a= link_to 'View on amazon.com', "http://www.amazon.com/gp/product/${isbn}"
      %li
        Add to:
        %ul.statuses
          - Status.all.each do |status|
            %li= link_to status, "##{status}", :onclick => "backend.add_book('${isbn}', '#{status}'); return false"

- content_for :header do
  #controls.span-24
    .search
      %input{:type => "search", :results => "results", :placeholder => "Search", :size => 40, :value => params[:q]}
    .actions
      = link_to "<< back to books", ownerships_path(current_user.username)

.books

- content_for :page_js do
  = javascript_include_tag "bookpiles.js"
  = javascript_include_tag "amazon.js"
  = javascript_tag do
    != "backend.init(#{current_user.username.inspect});"
