- content_for :templates do
  %script#template_book_block{:type => "text/x-jquery-tmpl"}
    %table.book_block
      %tr
        %td
          %img.book_cover{:alt => "${isbn}", :src => "${image_url}", :title => "${title}"}

  %script#template_book_details{:type => "text/x-jquery-tmpl"}
    %table#book_details
      %tr
        %td.cell
          %img.book_cover{:alt => "${isbn}", :src => "${image_url}", :title => "${title}"}
        %td.cell.full
          %table.details
            %tr
              %td Title:
              %td.full ${title}
            %tr
              %td Authors:
              %td ${authors}
            %tr
              %td Published:
              %td ${published_on}
            %tr
              %td Pages:
              %td ${pages}
            %tr
              %td ISBN:
              %td ${isbn}
    %ul
      %li
        %a= link_to 'View on amazon.com', "http://www.amazon.com/gp/product/${isbn}"
      - if logged_in?
        - if current_user.username == @user.username
          %li
            Move to:
            %ul.statuses
              - Status.all.each do |status|
                %li= link_to status, "##{status}", :onclick => "backend.move_book('${isbn}', '#{status}'); return false"
          %li
            = link_to "Delete", "#", :onclick => "if(confirm('delete book?')) { backend.delete_book('${isbn}') }; return false"
        - else
          %li
            Add to:
            %ul.statuses
              - Status.all.each do |status|
                %li= link_to status, "##{status}", :onclick => "backend.add_book('${isbn}', '#{status}'); return false"

- content_for :head do
  = auto_discovery_link_tag(:atom, ownerships_url(@user.username, :format => 'atom'), :title => "#{@user.username}'s books")

- content_for :header do
  #controls.span-24
    %ul.statuses
      - Status.all.each do |status|
        %li{:class => "status_#{status} tab"}
          = link_to(status, ownerships_path(@user.username, :anchor => status), :class => "pile")
          %span.count
    .search
      %input{:type => "search", :results => "results", :placeholder => "Filter", :onclick => "if(!this.value) { set_query(this.value) }", :onchange => "set_query(this.value)", :size => 30}
    - if current_user == @user
      .actions
        = link_to "add a book", amazon_path, :id => "amazon_search"

- content_for :page_js do
  = javascript_include_tag "bookpiles.js"
  = javascript_include_tag "ownerships.js"
  = javascript_tag do
    - if current_user
      != "backend.init(#{current_user.username.inspect}, function() { controller.update_books(); });"

